*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b,#334155);
    color:white;
    min-height:100vh;
}

header{
    text-align:center;
    padding:80px 20px;
}

header h1{
    font-size:3rem;
    text-shadow:0 0 20px #38bdf8;
}

header p{
    color:#cbd5e1;
    margin-top:10px;
}

.container{
    width:90%;
    max-width:1100px;
    margin:auto;
}

.card{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    border-radius:20px;
    padding:25px;
    margin:25px 0;
    box-shadow:0 15px 35px rgba(0,0,0,0.4);
    transition:0.4s;
    transform-style:preserve-3d;
}

.card:hover{
    transform:rotateX(8deg) rotateY(-8deg) translateY(-10px);
    box-shadow:0 25px 45px rgba(56,189,248,0.4);
}

h2{
    color:#38bdf8;
    margin-bottom:15px;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skill{
    background:#38bdf8;
    color:#0f172a;
    padding:10px 15px;
    border-radius:20px;
    font-weight:bold;
}

.project{
    margin-top:15px;
}

footer{
    text-align:center;
    padding:30px;
    color:#94a3b8;
}